      {% if space.ideas != empty %}

      <!-- Actions -->
      <div id="actions-bar" class="clearfix">

        {% if filter == "own" %}
        <h2 class="pull-left">Showing my {{ space.discussion_type_plural }}</h2>
        {% else %}
          {% if sort == "like" %}
          <h2 class="pull-left">{{ space.discussion_type_plural }} with most votes</h2>
          {% else %}
          <h2 class="pull-left">Latest {{ space.discussion_type_plural }}</h2>
          {% endif %}
        {% endif %}

        <div id="filter-options" class="btn-group">
          <p>Sort By:
            {% if current_user %}
              <a href="{{space.permalink}}" title="show latest {{ theme.ideas_context }} first" {% if filter == "own" %}{% else %}{% if sort == "like" %}{% else %}class="active"{% endif %}{% endif %}><i class="icon-asterisk"></i>Newest</a>,
              <a href="{{ space.permalink }}?sort=like" title="show most popular {{ theme.ideas_context }} first" {% if sort == "like" %}class="active"{% endif %}><i class="icon-fire"></i>Popular</a>
               or <a href="{{ space.permalink }}?filter=own" title="show only my {{ theme.ideas_context }}" {% if filter == "own" %}class="active"{% endif %}><i class="icon-user"></i>Mine</a>

            {% else %}

              <a href="{{space.permalink}}" title="show latest {{ theme.ideas_context }} first" {% if filter == "own" %}{% else %}{% if sort == "like" %}{% else %}class="active"{% endif %}{% endif %}><i class="icon-asterisk"></i>Newest</a> or
              <a href="{{ space.permalink }}?sort=like" title="show most popular {{ theme.ideas_context }} first" {% if sort == "like" %}class="active"{% endif %}><i class="icon-fire"></i>Popular</a>
            {% endif %}
          </p>
         </div>
      </div>

      <hr />

      <!-- Posts list -->
      {% paginate space.ideas by 10 %}
      <ul id="post-list" class="unstyled">

        {% for idea in pagination.collection %}
        <li class="topic">
          <article>
            <h2 class="title"><a href="{{ idea.permalink }}" title="link to {{ idea.title }}">{{ idea.title }}</a></h2>
            <!-- Topic actions -->
            <div class="actions">
              {% if idea.liked? %}
                <a href="{{ idea.permalink }}" class="votes on">{{idea.likes}} <small>votes</small></a>
                {% else %}
                {% if current_user %}
                <a href="{{ idea.permalink }}" class="votes">{{idea.likes}} <small>votes</small></a>
                {% else %}
                <span class="votes cursorPointer open-sign-in"><span class="likecount">{{idea.likes}}</span> <small>votes</small></span>
                {% endif %}
              {% endif %}
              <a href="{{ idea.permalink }}" class="responses">{{ idea.comments_count }} <small>replies</small></a>
            </div>
            <!-- Topic meta -->
            <div class="meta">
              <span class="author">Asked by <a class="avatar" href="{{ idea.user.profile_url }}" title="link to {{ idea.user.nickname }}'s profile on {{ idea.user.provider }}"><img src="{{idea.user.image_url}}" alt="{{ idea.user.nickname }}'s avatar from {{idea.user.provider}}" width="24" height="24" class="avatar" />
                <a href="{{ idea.user.profile_url }}" title="link to {{ idea.user.nickname }}'s profile on {{ idea.user.provider }}">{{ idea.user.nickname }}</a>
              </a></span>
              <span class="date"><small>on {{ idea.created_at | date: "%b %d" }}</small></span>

              {% if idea.tag_list != empty %}
                <span class="search-tag-wrap">
                  {% for tag in idea.tag_list %}
                    <a href="{{space.permalink}}/tagged/{{tag}}" title="tagged with &ldquo;{{tag}}&rdquo;" class="tag-link"><span class="tm-tag"><span>{{tag}}</span></span></a>
                  {% endfor %}
                </span>
              {% endif %}
              </div>
            </article>
          </li>
          {% endfor %}

        </ul>

        <!-- Pagination -->
        {{ pagination | default_pagination }}
        {% endpaginate %}

        {% else %}

        <div id="empty">
          There aren't any questions here yet.<br /> {% if current_user %}<a href="{{ space.permalink }}/ideas/new" title="link to start a new question">Click here to start a new questions.</a>{% else %}Login with Twitter or Facebook to add a new questions.{% endif %}
        </div>

        {% endif %}
