  <!-- Actions -->
  <div id="actions-bar">
    <a href="{{ space.permalink }}" title="return to {{ space.title }} home" class="back-link">&laquo; return to {{ space.title }} home</a>
  </div>

  <hr />

  <!-- Add reply -->
  <div id="add-new">

    <header>
    <h1>Add a new topic...</h1>
    </header>

    {% if current_user %}
      <p>
        {{idea.errors_as_sentence}}
      </p>

      <form id="add-form" class="well" method="post" action="{{space.permalink}}/ideas" enctype="multipart/form-data">
        <input id="idea_title" name="idea[title]" value="{{idea.title}}" type="text" placeholder="Topic title" placeholder="{{theme.idea_context}} title" class="required">

        <textarea id="idea_content" name="idea[content]" value="{{idea.content}}" rows="3" placeholder="Topic content" class="required" class="input-xlarge" placeholder="Your idea here..."></textarea>

        <p>
          <b>Select relevant categories:</b>
        </p>

        <p class="clearfix">
          <label class="checkbox">
            {{ idea | tag_checkbox: 'login' }} Login problems
          </label>

          <label class="checkbox">
            {{ idea | tag_checkbox: 'email' }} Email issues
          </label>

          <label class="checkbox">
            {{ idea | tag_checkbox: 'bug' }} Bugs and errors
          </label>
        </p>

        <hr>

        <label class="checkbox">
          <input type="checkbox" id="social-share" name="idea[should_post_to_social]" value="1" checked="checked" />share this topic to {{ current_user.provider }}?
        </label>


        <input type="submit" id="submit" value="Post topic" class="btn btn-primary btn-large" />
      </form>
    {% endif %}

  </div>
