<div id="single-post">

            <!-- Actions -->
            <div id="actions-bar">
              <a href="{{ space.permalink }}" title="return to {{ space.title }} home" class="back-link">&laquo; return to {{ space.title }} home</a>
            </div>

            <hr />

            <!-- Single post header -->
            <header>
              <h1>{{ idea.title }}</h1>
              <div class="actions">
                  {% if current_user %}
                  {% if idea.liked? %}<span class="action-like btn disabled"><i class="icon-ok-circle"></i> <span class="likecount">{{idea.likes}}</span> votes</span>{% else %}<div class="action-like btn" data-url="{{idea.like_link}}"><i class="icon-upload"></i> <span class="likecount">{{idea.likes}}</span> votes</div>{% endif %}
                  {% else %}
                  <span class="action-like btn disabled"><span class="likecount">{{idea.likes}}</span> votes</span>
                  {% endif %}
                  {% if current_user %}<a href="#add-reply" title="reply to *idea.title*" class="btn"><i class="icon-share-alt"></i> Reply</a>{% endif %}
                  {% if idea.user.uuid == current_user.uuid %}<a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="btn"><i class="icon-pencil"></i> Edit</a>{% endif %}
                </div>
            </header>

            <!-- Posts list -->
            <ol id="topic">

              <!-- Main post -->
              <li class="first response">
                <article>
                  <div class="meta">
                    <a href="{{ idea.user.profile_url }}" title="link to {{ idea.user.nickname }}'s profile on {{ idea.user.provider }}"><img src="{{idea.user.image_url}}" alt="*idea.user*'s avatar from Twitter" width="80" class="avatar" /></a>
                    <a href="{{ idea.user.profile_url }}" title="link to {{ idea.user.nickname }}'s profile on {{ idea.user.provider }}" class="author">{{ idea.user.nickname }}</a>
                    <span class="date">{{ idea.created_at | date: "%B %d %Y" }} at {{ idea.created_at | date: "%I:%M%p" }}</span>
                  </div>
                  <div class="content">
                    {{ idea.content | markdown }}
                  </div>
                </article>
              </li>

              <!-- Responses -->
              {% if idea.comments != empty %}
              {% for comment in idea.comments reversed %}
              <li class="response">
                <article>
                  <div class="meta">
                    <a href="{{ comment.user.profile_url }}" title="link to {{ comment.user.nickname }}'s profile on {{ comment.user.provider }}"><img src="{{ comment.user.image_url }}" alt="*idea.user*'s avatar from Twitter" width="80" class="avatar" /></a>
                    <a href="{{ comment.user.profile_url }}" title="link to {{ comment.user.nickname }}'s profile on {{ comment.user.provider }}" class="author">{{ comment.user.nickname }}</a>
                    <span class="date">{{ comment.created_at | date: "%B %d %Y" }} at {{ comment.created_at | date: "%I:%M%p" }}</span>
                  </div>
                  <div class="content">
                    {{ comment.body | markdown | sort }}
                  </div>
                </article>
              </li>
              {% endfor %}
              {% else %}
                  <div id="empty">
                      Nobody has replied to {{ idea.user.nickname }}'s topic yet.<br />
                      Add a reply below...
                  </div>
              {% endif %}

            </ol>

            <hr />

            <!-- Add reply -->
            {% if current_user %}
            <div id="add-reply">
              <div class="form-header"><h3>Add reply...</h3></div>
              <form action="{{idea.permalink}}/comments" method="post" class="well">
                <textarea class="input-xlarge required" id="comment_body" name="comment[body]" rows="3" placeholder="Your reply here..."></textarea>
                <label class="checkbox">
                  <input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="1" checked="checked" /> share this reply to {{current_user.provider}}?
                </label><br/><br/><br/>
                {% assign subscription = idea.subscription %}
                {% if subscription %}
                  {% if subscription.active? %}
                    <p>You are already subscribed to email notifications for this thread</p>
                  {% else %}
                    <p>You have unsubscribed to email notifications for this thread</p>
                  {% endif %}
                {% else %}
                  <label class="checkbox">
                    <input type="checkbox" name="comment[subscribe_to_notifications]"/ > subscribe to notifications for this thread?
                  </label>
                {% endif %}
                <input type="submit" id="submit" name="submit" value="Add reply" class="btn btn-primary btn-large" />
              </form>
            </div>
            {% else %}
            <div id="add-reply">
                <div class="form-header"><h3>Add reply...</h3></div>
                <div class="well login-block">
                    <div class="alert-message"><p>Login with Twitter or Facebook to add a reply:</p></div>
                    <ul class="auth">
                        <li class="twitter"><a href="/auth/twitter" class="btn"><i class="icon-twitter"></i> Twitter</a></li>
                        <li class="facebook"><a href="/auth/facebook" class="btn"><i class="icon-facebook"></i> Facebook</a></li>
                    </ul>
                </div>
            </div>
            {% endif %}

        </div>
