<div id="single-post">

  <!-- Actions -->
  <div class="actions-bar actions-bar-single">
    <a href="{{ space.permalink }}" title="return to {{ space.title }} home" class="back-link">&laquo; Return to {{ space.title }} home</a>
  </div>

  <!-- Posts list -->
  <ol id="topic">

    <!-- Main post -->
    <li class="first response">
      <article class="clearfix">
        <div class="content">
          <header>
            <h2>{{ idea.title }}</h2>
            <div class="actions">
              {% if idea.user.uuid == current_user.uuid %}<a href="{{idea.permalink}}/edit" title="link to edit {{idea.title}}" class="btn"> Edit</a>{% endif %}

              {% if current_user %}
              {% if idea.liked? %}<span class="action-unlike btn" data-url="{{idea.like_link}}">unvote</span>
              <div class="bubble"><span class="likecount">{{idea.likes}}</span></div>

              {% else %}
              <span class="action-like btn" data-url="{{idea.like_link}}">vote</span>
              <div class="bubble"><span class="likecount">{{idea.likes}}</span></div>

              {% endif %}
              {% else %}
              <span class="action-like btn open-sign-in">vote</span>
              <div class="bubble"><span class="likecount">{{idea.likes}}</span></div>
              {% endif %}
            </div>
          </header>
          {{ idea.content | markdown }}

          <div class="search-tag-wrap">
          {% for tag in idea.tag_list %}
            <a href="{{space.permalink}}/tagged/{{tag}}" title="tagged with &ldquo;{{tag}}&rdquo;" class="tag-link"><span class="tm-tag"><span>{{tag}}</span></span></a>
          {% endfor %}
        </div>

        </div>
        <div class="meta">
          <a class="meta-avatar" href="{{ idea.user.profile_url }}" title="link to {{ idea.user.nickname }}'s profile on {{ idea.user.provider }}"><img src="{{idea.user.image_url}}" alt="*idea.user*'s avatar from Twitter" width="60" class="avatar" /></a>
          <div><a class="meta-user" href="{{ idea.user.profile_url }}" title="link to {{ idea.user.nickname }}'s profile on {{ idea.user.provider }}" class="author">{{ idea.user.nickname }}</a></div>
          <span class="meta-date">{{ idea.created_at | date: "%B %d %Y" }} at {{ idea.created_at | date: "%I:%M%p" }}</span>
        </div>
      </article>
    </li>

    <!-- Responses -->
    {% if idea.comments != empty %}
    {% for comment in idea.comments reversed %}
    <li class="response">
      <article class="clearfix">
        <div class="content">
          <br/>
          <h3>{{ comment.user.nickname }} replied...</h3>

          {{ comment.body | markdown | sort }}
        </div>
        <div class="meta">
          <div><a class="meta-avatar" href="{{ comment.user.profile_url }}" title="link to {{ comment.user.nickname }}'s profile on {{ comment.user.provider }}"><img src="{{ comment.user.image_url }}" alt="*idea.user*'s avatar from Twitter" width="60" class="avatar" /></a></div>
          <div><a class="meta-user" href="{{ comment.user.profile_url }}" title="link to {{ comment.user.nickname }}'s profile on {{ comment.user.provider }}" class="author">{{ comment.user.nickname }}</a></div>
          <span class="meta-date">{{ comment.created_at | date: "%B %d %Y" }} at {{ comment.created_at | date: "%I:%M%p" }}</span>
        </div>
      </article>
    </li>
    {% endfor %}
    {% else %}
    <div id="empty">
      Nobody has replied to {{ idea.user.nickname }}'s question yet.<br />
      Add a reply below...
    </div>
    {% endif %}

  </ol>

  <br/>

  <!-- Add reply -->
  {% if current_user %}
  <div class="add-reply">
    <div class="form-header"><h3>Add reply...</h3></div>
    <form action="{{idea.permalink}}/comments" method="post" class="well clearfix">
      <textarea class="input-xlarge required" id="comment_body" name="comment[body]" rows="5" placeholder="Your reply here..."></textarea>

      <div class="options">
        <label class="checkbox">
          <input class="checkbox" type="checkbox" id="comment_should_post_to_social" name="comment[should_post_to_social]" value="0" checked="checked" /> share this reply to {{current_user.provider}}?
        </label>

        {% assign subscription = idea.subscription %}
        {% if subscription %}
          {% if subscription.active? %}
            <p>You are already subscribed to email notifications for this thread</p>
          {% else %}
            <p>You have unsubscribed to email notifications for this thread</p>
          {% endif %}
        {% else %}
          <label class="checkbox">
            <input type="checkbox" name="comment[subscribe_to_notifications]"/ > subscribe to notifications for this thread?
          </label>
        {% endif %}

      </div>

      <input type="submit" id="submit" name="submit" value="Add reply" class="btn btn-primary btn-large" />
    </form>
  </div>
  {% else %}
  <div class="add-reply">
    <div class="form-header"><h3>Add reply...</h3></div>
    <div class="well login-block">
      <p>To add a reply please login with <a href="/auth/twitter" title="login with twitter">Twitter</a> or <a href="http://contactzilla.rusic.com/auth/facebook" title="login with facebook">Facebook</a>.</p>

    </div>
  </div>
  {% endif %}

</div>
