<!DOCTYPE html>
<html lang="en">
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if space.favicon != "" %}
    <link rel="shortcut icon" href="{{ space.favicon }}">
    {% else %}
    <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
    {% endif %}

    <title>{{ space.title }}</title>

    <style type="text/css">
      body {
        background-color: {{ space.background_color }};
      }
      .navbar-inner {
        background-color: {{ space.navbar_color }};
      }
    </style>
    <link href="{{ 'styles.css' | stylesheet_url }}" rel="stylesheet" />
  </head>

  <body class="{{ body_class }} {% unless current_user %}logged-out{% endunless %}">

    <!-- Header -->
    <div id="top-bar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <!-- Space title -->
          {% if space.navbar_logo_link != "" %}
          <a class="brand" href="{{ space.navbar_logo_link }}" title="link to homepage for {{ space.title }}">
            {% if space.navbar_logo != "" %}
            <img src="{{ space.navbar_logo }}" />
            {% else %}
            {{ space.title }}
            {% endif %}
          </a>
          {% else %}
          <a class="brand" href="{{ space.permalink }}" title="link to homepage for {{ space.title }}">
            {{ space.title }}
          </a>
          {% endif %}

          {% if current_user %}
          <!-- Logged in user menu -->
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{current_user.image_url}}" alt="{{current_user.nickname}}'s avatar from {{current_user.provider}}" width="20" height="20" class="avatar" />Logged in as {{current_user.nickname}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ space.permalink }}/ideas/new"><i class="icon-plus-sign"></i> Add new topic</a></li>
                <li><a href="{{ space.permalink }}?filter=own"><i class="icon-user"></i> View my topics</a></li>
                <li class="divider"></li>
                <li><a href="/auth/signout">Logout</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <!-- Logged out user menu -->
          <ul class="nav pull-right">
            <li><a href="/auth/twitter" title="login with Twitter">Login with Twitter</a></li>
            <li><a href="/auth/facebook" title="login with Facebook">Login with Facebook</a></li>
          </ul>
          {% endif %}

        </div>
      </div>
    </div>

    <hr />

    <!-- Wrapper -->
    <div class="container" class="row">
      <div class="row">

        {% if error %}
        <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        {{ error }}
        </div>
        {% endif %}
        {% if alert %}
        <div class="alert alert-block">
        <a class="close" data-dismiss="alert">×</a>
        {{ alert }}
        </div>
        {% endif %}
        {% if notice %}
        <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        {{ notice }}
        </div>
        {% endif %}

        <!-- Main container -->
        <div id="main-container" class="span11">

          {{ yield }}

        </div>

        <hr />

        <!-- Sidebar -->
        <div id="sidebar" class="span5">

          {% if current_user %}
          <div id="add-new" class="widget">
            <a href="{{ space.permalink }}/ideas/new" title="add new topic" class="add-post btn btn-large btn-primary"><i class="icon-plus-sign icon-white"></i> Add new topic</a>
          </div>
          {% else %}
          <div id="add-new" class="widget">
            <div class="add-post btn btn-large btn-primary disabled">Add new topic</div>
            <div class="login-prompt">
              <span class="pointer"></span>
              <span>To post a new topic please login with Twitter or Facebook:</span>
              <ul class="auth">
                  <li class="twitter"><a href="/auth/twitter"><span></span><i class="icon-twitter"></i> Login with Twitter</a></li>
                  <li class="facebook"><a href="/auth/facebook"><span></span><i class="icon-facebook"></i> Login with Facebook</a></li>
              </ul>
            </div>
          </div>
          {% endif %}

          <div id="space-description" class="widget">
            {{ space.summary | markdown }}
          </div>

          <div id="space-share" class="widget">
            <h4>Share this {% if idea %}topic{% else %}space{% endif %}</h4>
            {% if idea %}
            <div id="shareme" data-text="{{ idea.content }} -"></div>
            {% else %}
            <div id="shareme" data-text="{{ space.summary }} -"></div>
            {% endif %}
          </div>

          <div id="popular-posts" class="widget">
            <h4>Popular topics</h4>
            <ul>
              {% for idea in space.most_commented_ideas | limit: 4 %}
              <li>
                <img src="{{idea.user.image_url}}" alt="{{ idea.user.nickname }}'s avatar from {{idea.user.provider}}" class="avatar" width="35" height="35" />
                <div class="meta">
                  <h5><a href="{{ idea.permalink }}" title="link to {{ idea.title }}">{{ idea.title }}</a></h5>
                  <span class="author">by {{ idea.user.nickname }}</span>
                  <span class="responses">{{ idea.comments_count }} replies</span>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

        </div>

      </div> <!-- /row -->

      <hr />

      <footer class="footer">
          <a href="{{ space.permalink }}.atom" title="link to RSS feed for {{ space.title }}" class="rss-link">RSS feed for {{ space.title }}</a>
          <p class="powered-by">{{ space.title }} is powered by <a href="http://rusic.com" title="link to Rusic">Rusic</a></p>
      </footer>

    </div> <!-- end wrapper -->

    {% if params.login == 'success' and current_participant and current_participant.missing_email_address? %}
      <div class="modal-cover" id="emailCaptureModalCover"></div>
      <div class="modal" id="emailCaptureModal">
        <h3>Please enter your email address:</h3>
        <br/>
        <form action="/participant" method="post">
          <input type="text" name="participant[email_address]" placeholder="you@example.com"/>
          <input type="submit" value="Submit" class="btn"/>
        </form>
      </div>
    {% endif %}

    <!-- Javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ 'bootstrap.js' | javascript_url }}"></script>
    <script src="{{ 'jquery.sharrre-1-2-0-min.js' | javascript_url }}"></script>
    <script src="{{ 'jquery-validate-min.js' | javascript_url }}"></script>
    <script src="{{ 'scripts.js' | javascript_url }}"></script>
  </body>
</html>
